.navbar-item.is-mega {
  position: static;

  .is-mega-menu-title {
    margin-bottom: 0;
    padding: .375rem 1rem;
  }
}


.button-status {
  align-self: center;
  margin-right: 0.75rem;
}

.card + .card {
  margin-top: 15px;
}
.card-header-title .tag {
  margin-right: 0.5rem;
}
.card.is-completed {
  opacity: 0.5;
}
